.layout  {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

header  {
      display: flex;
      align-items: center;
      position: fixed;
      z-index: 1;
      width: 100%;
      height: 80px;
      border-bottom: 1px solid black;
      background-color: white;
      font-family: Verdana;
      font-size: 14px;
      font-weight: bold;
  }

  .logo {
      display: flex;
      align-items: center;
      flex-grow: 1;
      padding-left: 30px;
  }

.logo img {
      width: 70px;
      height: 60px;
      margin-right: 12px;
}

.logo span  {
      color:MediumAquamarine;
    }


 a  {
    color: black;
}

nav span  {
     display: inline-block;
     padding: 20px 10px;
}



.content  {
    display: flex;
    width: 1232px;
    margin: 0 auto 78px auto;
    padding-top: 116px;
}



/*COLUMN 1 */

.column1  {
    margin: 10px;
}


#mother  {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
    width: 630px;
    height: 300px;
    margin-top: 40px;
    text-align: center;
    background-image: url(./img-story-main.png);

}

#orca  {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin: 5px;
    text-align: left;
}


#burger  {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin: 5px;
    text-align: left;

}


#earth  {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    width: 300px;
    margin: 5px;
    text-align: center;
    background-image: url(./img-story-2.png);


}

#research  {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    width: 300px;
    margin: 5px;
    color: white;
    text-align: center;
    background-image: url(./img-story-3.png);

}



/*COLUMN 2 */

.column2  {
     display: flex;
     flex-direction: column;
     margin: 20px;
     text-align: left;
}

#FBI {
    display: flex;
    flex-direction: column;
    color: black;
    width: 300px;

}




#cats  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    padding: 25px;
    color: white;
    height: 200px;
    text-align: center;
    background-image: url(./img-story-1.png);

}

/*COLUMN 3 */
.column3  {
    display: flex;
    flex-direction: column;
    font-family: Georgia;
    font-size: 17px;
    color: black;
    width: 240px;
    height: auto;
    padding: 40px;
}

#bites  {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.links  {
    display: block;
    flex-direction: column;
    border-bottom: 1px solid black;
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    padding: 11px 20px;
    color: DimGray;
}


footer   {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: MediumAquamarine;
    margin: auto;
    width: 100%;
    height: 325px;
    font-family: Verdana;
    font-size: 12px;
}

#mytimes  {
    display: flex;
    align-items: center;

  }


#brand  {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: white solid 2px;
  padding: 10px;
}



#copy   {
      display: block;
}
